body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: lightgrey;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  height: 60px;
  display: flex;
}

#username {
  margin-left: 30px;
}

nav ul {
  padding-top: 5px;
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  box-shadow: 1px 1px 4px grey;
  padding: 5px;
  border-radius: 20%;
}

#portrait {
  text-align: center;
  margin-top: 3em;
  font-size: 30px;
}

#portrait img {
  width: 250px;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 2px 2px 20px 4px white;
}

main {
  overflow: auto;
}

article {
  margin-left: 30px;
  width: 70%;
  padding: 1px 10px 10px 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 15px;
  float: left;
}

p {
  font-size: larger;
}

#kontak a {
  color: black;
  margin-right: 20px;
}

article,
aside {
  box-shadow: 2px 2px 5px black;
}

aside {
  background-color: white;
  border-radius: 20px;
  float: right;
  margin-right: 25px;
  padding: 0 15px;
}

aside img {
  margin: auto;
  width: 100px;
  border-radius: 50%;
}
aside p {
  font-size: medium;
}

span {
  font-weight: bold;
}

footer {
  margin-top: 20px;
  background-color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
